<h1>Visits in <%= @location.city %></h1>
<ul>
	<% @visits.each do |visit| %>
		<li>
			<% if visit.user_name.present? %>
				<%= link_to visit.user_name, location_visit_path(@location, visit) %> -
			<% end %>
			<%= visit.from_date %> --- <%= visit.to_date %>
		</li>
	<% end %>
</ul>
<%= link_to "Location " + @location.city, location_path(@location) %>