<h1>Visit in <%= @location.city %></h1>
<ul>
	<li>
		<% if @visit.user.email.present? %>
			<%= @visit.user.email %> -
		<% end %>
		<%= @visit.from_date %> --- <%= @visit.to_date %>
	</li>
</ul>
<%= link_to "Visits in " + @location.city, location_visits_path(@location) %>