<h1>Locations</h1>

<ul>
	<% @locations.each do |location| %>
		<li style="color:<%= cycle("red","blue") %>">
		<span style="color:<%= current_cycle %>">
		<% if location.name.present? %>
			<%= location.name %> -
		<% end %>
		<%= link_to location.city, location_path(location) %>
		<% if location.description.present? %>
			- <%= location.description %>
		<% end %>
		=> <%= edit_link(edit_location_path(location)) %> - 
		<%= delete_link(location_path(location)) %>
		</span>
		</li>
	<% end %>
</ul>
<%= form_for Search.new do |f| %>
	<%= f.label "Find..." %>
	<%= f.text_field :keyword %>
	<br />
	<%= f.submit "Save" %>
	<%= f.button "Cancel", :name => "Cancel" %>
<% end %>
<br />
<br />

<%= link_to "New location", new_location_path %></li>
<% content_for(:title) do %>
	Locations
<% end %>